img {
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:200px;
        margin-bottom:auto;
        
      
    }
  center {
    margin: auto;
    text-align: center;
  }
  li {
      display: inline;
  }

  ul {

    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  }

  footer {

position: fixed;
bottom: 0;
text-align:none;
  }




  

